<!doctype html>
<html>
   <head>
      <style>
         table, th, td {
            border: 1px solid rgb(4, 248, 207);
            border-collapse: collapse;
         }
         th, td {
            padding: 10px;
         }
      </style>
   </head>
            
   <body>
   
      <h1>Éphémérides pour le Vaud</h1>
      <p>Date actuelle : {{ today }}</p>

      <h2>Dates de début de saisons</h2>
      <table>
         <tr>
            <th></th>
            <th>{{ years[0] }}</th>
            <th>{{ years[1] }}</th>
            <th>{{ years[2] }}</th>
         </tr>
         <tr>
            <td>printemps (équinoxe vernal)</td>
            <td>{{ springs[0] }}</td>
            <td>{{ springs[1] }}</td>
            <td>{{ springs[2] }}</td>
         </tr>
         <tr>
            <td>été (solstice d'été)</td>
            <td>{{ summers[0] }}</td>
            <td>{{ summers[1] }}</td>
            <td>{{ summers[2] }}</td>
         </tr>
         <tr>
            <td>automne (équinoxe d'automne)</td>
            <td>{{ autumns[0] }}</td>
            <td>{{ autumns[1] }}</td>
            <td>{{ autumns[2] }}</td>
         </tr>
         <tr>
            <td>hiver (solstice d'hiver)</td>
            <td>{{ winters[0] }}</td>
            <td>{{ winters[1] }}</td>
            <td>{{ winters[2] }}</td>
         </tr>
      </table>

      <h2>Lever et coucher de soleil</h2>

      <table>
         <tr>
            <td>
               <h3>Lever</h3>
               <table>
                  <tr>
                     <th colspan="3">crépuscule</th>
                     <th rowspan="2">lever</th>
                  </tr>
                  <tr>
                     <th>astronomique</th>
                     <th>nautique</th>
                     <th>civil</th>
                  </tr>
                  <tr>
                     <td>{{ twilight_astronomical_rise }}</td>
                     <td>{{ twilight_nautical_rise }}</td>
                     <td>{{ twilight_civil_rise }}</td>
                     <td>{{ sunrise }}</td>
                  </tr>
               </table>
            </td>
            <td>
               <h3>Coucher</h3>
               <table>
                  <tr>
                     <th rowspan="2">coucher</th>
                     <th colspan="3">crépuscule</th>
                  </tr>
                  <tr>
                     <th>civil</th>
                     <th>nautique</th>
                     <th>astronomique</th>
                  </tr>
                  <tr>
                     <td>{{ sunset }}</td>
                     <td>{{ twilight_civil_set }}</td>
                     <td>{{ twilight_nautical_set }}</td>
                     <td>{{ twilight_astronomical_set }}</td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>

      <a href="./daytable.html">Levers et couchers du soleil pour le mois en cours</a>

      <h3>Zenith</h3>
      <p>Heure : {{ timezenitsun }}</p>
      <p>Altitude : {{ altzenithsun }}</p>
      <p>Azimuth : {{ azzenithsun }}</p>
      
      <a href="./sungraphic.html">Élévation du soleil pour la journée en cours</a>

      <h2>Lune</h2>
      <p>Pourcentage illuminé : {{ moon_frac_illum }}</p>

   </body>
</html>